.content{
  width: 60rem;
    min-height: 20rem;
  margin: 0 2rem;
    display: flex;
    flex-direction: row;
   
    justify-content: space-between;
    
    
}

.box_2{
    width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}
.box_2 h1{
    font-family: 'Courgette', cursive;
    color: rgb(7, 7, 65);
    position: absolute;
    top: 5rem;
}
.box_2 p{
    font-size: 1.2rem;
    position: relative;
    margin-top: 5rem;
    color: rgb(255, 33, 33);
    z-index: 3;
}



.button {
    border-radius: 10px;
    border: none;
    width: 10rem;
    background-color: #e73232;
    color: white;
    padding: 10px 10px;
    font-size: 16px;
    box-shadow: 0px 2px 4px rgba(37, 37, 37, 0.2);
    z-index: 4;
  }
  
  .button:hover {
    background-color: #f3517a;
  }

  .button:active{
    background-color: #e73232;

  }


 